:root {
    --primary-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --primary-text-color-theme-dark:#212121;
    --secondary-text-color-theme-dark:  #757575;
    --primary-text-color-theme-light:  #FFFFFF;
    --secondary-text-color-theme-light: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3; 
    --primary-bg-color:#FFFFFF; 
    --.button.primary
 }

 body{
  color: var(--primary-bg-color);
  color: var(#FFFFFF) ;
 }
 /*  */
  a {
    text-decoration: none;
  }
  .link {
      list-style-type: none;
  }
  
  img {
    display: block;
  }
  /* Button */
  .button {
    color: var(--accent-color);
    cursor: pointer;
  }
  .button.primary {
  background-color:var(--accent-color);
  color: var(--primary-bg-color);
  }
  .button.secondary {
    
  }
  .web-studio {
    color: var(--primary-text-color-theme-dark) ;
  }
  .web-studio:hover {
    color: var(--accent-color);
  }
  .menu-list .studio {
    color: var(--primary-text-color-theme-dark);
  }
  .menu-list .link:hover,
  .menu-list .link:focus {
    color: var(--accent-color);  
  } 
  .menu-list .link .current{
    color: var(--accent-color);
  }
  

  .menu-contact-list .link {
    color: var(--primary-text-color-theme-dark);
}
  .menu-contact-list .link:hover,
  .menu-contact-list .link:focus {
    color: var(--accent-color);
  }
/* Hero */
.hero-title {
  color: var(--primary-bg-color);
}
/* Features */
.feature-list .title {
  color: var(--primary-text-color-theme-dark);
}
.feature-list .text{
  color: var(--primary-text-color-theme-dark);
}

/* Section */

  .section-title {
    color: var(--primary-text-color-theme-dark);
  }
  .text{
    color: var(--primary-text-color-theme-dark);
  }
  
    .hero-title {
    color: var(--primary-text-color-theme-dark);

  

  }
  /* About */
  .about-list .title{
    color: var(--primary-text-color-theme-dark)
  }