:root {
    --primary-font:Roboto, sans-serif;
    --secondary-font:Raleway, sans-serif;
    --primary-text-color-theme-dark:#212121;
    --secondary-text-color-theme-dark:  #757575;
    --primary-text-color-theme-light:  #FFFFFF;
    --secondary-text-color-theme-light: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3; 
    --primary-bg-color:#FFFFFF; 
    --secondary-bg-color: #2F303A;
    --font-family: inherit;
    }

 body {
  font-family: inherit;
  color: var(--primary-text-color-theme-dark);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
  a {
    text-decoration: none;
  }
  ul {
      list-style-type: none;
  }
  
  img {
    display: block;
    
  }
  /* Logo */
  .logo-accent {
    font-family:Roboto, sans-serif; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color)
}
.header-logo {
    color: var(--primary-text-color-theme-dark)
}
 .footer-logo {
    color:var(--primary-text-color-theme-light)
}
  /* Button */
  .button {
    color:var(--accent-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    cursor: pointer;
    font-family: inherit;
  }
  .button.primary {
  background-color:var(--accent-color);
  color:var(--primary-text-color-theme-light);

  
   }

  .button.primary:hover{
    color: var(--accent-color);
    
  }

  .menu-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14; 
    font-family: inherit;
  }
  .menu-list .link:hover,
  .menu-list .link:focus {
  color: var(--accent-color);  
  } 
  .menu-list .link .current{
    color: var(--accent-color);
  }
  .menu-contact-list .link {
    color: var(--primary-text-color-theme-dark);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
  .menu-contact-list .link:hover,
  .menu-contact-list .link:focus {
    color: var(--accent-color);
  }
/* Hero */
.hero-title {
  color: #2F303A;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
}
/* Features, About,Project */
.feature-list .title,
.about-list .title
{
  color: var(--primary-text-color-theme-dark);
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
}
.feature-list .text,
.about-list.text,
.project-list .text{
  color: var(--secondary-text-color-theme-dark);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  
}

/* Section */
  .section-title {
    color: var(--primary-text-color-theme-dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;  
  }
  
  /* Footer */
  .page-footer{
    background: #2F303A;
  }
  .address.contact{

color: var(--primary-text-color-theme-light);
font-weight: 400;
font-size: 14px;
line-height:1.7;
font-style: normal;
  }
.address.contact.link:hover,
.address.contact.link:focus{
   color: var(--accent-color);
  }

  
  
 
  