:root {
    --primary-font:'Roboto', sans-serif;
    --secondary-font:'Raleway', sans-serif;
    --primary-text-color-theme-dark:#212121;
    --secondary-text-color-theme-dark:  #757575;
    --primary-text-color-theme-light:  #FFFFFF;
    --secondary-text-color-theme-light: rgba(255, 255, 255, 0.6);
    --accent-color: #2196F3; 
    --primary-bg-color:#FFFFFF; 
    }

 body {
  background-color:var(--primary-bg-color);
  color: var(--primary-text-color-theme-dark);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
  a {
    text-decoration: none;
  }
  .link {
      list-style-type: none;
  }
  
  img {
    display: block;
  }
  /* Button */
  .button {
    color: var(--accent-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    
  }
  .button.primary {
  background-color:var(--accent-color);
  color:var(--primary-text-color-theme-light)
  
  }
  .button.secondary {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color-theme-dark);
  }
  .web-studio {
    color: var(--primary-text-color-theme-dark);
    font-family:Raleway,;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
   
  }
  .web-studio:hover {
    color: var(--accent-color);
  }
  .menu-list {
    color: var(--primary-text-color-theme-dark);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
   
    
  }
  .menu-list .link:hover,
  .menu-list .link:focus {
    color: var(--accent-color);  
  } 
  .menu-list .link .current{
    color: var(--accent-color);
  }
  

  .menu-contact-list .link {
    color: var(--primary-text-color-theme-dark);
   
}
  .menu-contact-list .link:hover,
  .menu-contact-list .link:focus {
    color: var(--accent-color);
  }
/* Hero */
.hero-title {
  color:var(--primary-text-color-theme-dark);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
}
.work {
  background: #2F303A;
}
/* Features, About,Project */
.feature-list .title,
.about-list .title
{
  color: var(--primary-text-color-theme-dark);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}
.feature-list .text,
.about-list.text,
.project-list .text{
  color: var(--primary-text-color-theme-dark);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  
}

/* Section */
  .section-title {
    color: var(--primary-text-color-theme-dark);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;  
  }
  
  
    
  
  
 
  